.navbar-default {
    font-family: Georgia, serif;
    background-color: transparent;
}

.navbar-brand {
    font-size: 3rem;
    padding: 10px;
}
.navbar {
    padding: 10px;
    font-size:1.5rem; }

.carousel {
    font-family: Georgia, san-serif;
    text-align: center;
    color: black;
