.body {	position: relative;
		padding-top: 70px;}

.container .navbar{
	color: black;}
	
.navbar-default {
    font-family: Georgia, serif;
	border-color: gray;
	background-color: white;
}

.nav li a:hover{
    color: black !important;
}

a{
	color:grey;
}

.navbar-default .navbar-brand {
	font-family: "master_of_break";
	src: url('master_of_break.ttf'),
	url('master_of_break.eot'); /* IE */
	font-size: 4rem;
}

.navbar {
    padding: 10px;
	font-size: 2rem; 
}

	
.carousel {
	margin: auto;
	overflow:hidden;
	padding: 10px;
}

