.navbar-default {
    font-family: Georgia, serif;
    background-color: white;
}

.navbar-brand {
    font-size: 3rem;
    padding: 10px;
}
.navbar {
    padding: 10px;
    font-size:1.5rem; }

.jumbotron {
	min-height: 360px;
	background-size: cover;
	background-position: center center;
}
.jumbotron {
	background-image: src("salon.jpeg");
}

.carousel-overlay {
	position: absolute;
	top: 225px;
	right: 0;
	left: 0;
	color: white;
	font-family: Georgia, san-serif;
}

